@import "../App/vars";

.nav {
  grid-area: nav;
  background: #fff;
  padding: 20px;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  gap: 40px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      list-style: none;

      .item {
        color: $secondaryColor;
        text-decoration: none;
        transition: all 0.3s ease;
        text-transform: uppercase;

        &:hover {
          color: $primaryColor;
        }
      }

      .item.active {
        color: $primaryColor;
      }
    }
  }

  .friends {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-weight: 500;
      text-transform: uppercase;
    }

    .items {
      display: flex;
      gap: 20px;
    }
  }
}