body {background-color: rgba(242,245,248,1);}

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content";
  grid-gap: 20px;
  max-width: 100%;
  padding: 0 20px;
}

img {
  max-width: 100%;
}

.header {
  grid-area: header;
  background: #fdc00f;
  padding: 20px 0;
}

.header .header__logo {
  max-width: 75px;
  max-height: 100%;
}

.nav {
  grid-area: nav;
  background: #fff;
}

.content {
  grid-area: content;
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-areas:
      "header header"
      "nav content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    max-width: 1300px;
    margin: 0 auto;
  }
}