body {
  background-color: rgba(242, 245, 248, 1);
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content";
  grid-gap: 20px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}


@media (min-width: 900px) {
  .app-wrapper {
    grid-template-areas:
      "header header"
      "nav content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    max-width: 1300px;

  }
}