@import "../App/vars";

.dialogs {
    display: grid;
    grid-template-areas:
        "dialogsItems"
        "messages";
    gap: 40px;
    min-height: 100%;

    .dialogsItemsWrapper {
        grid-area: dialogsItems;
        background: $primaryBg;
        border-radius: $borderRadius;
        padding: 20px;

        ul {
            display: flex;
            gap: 10px;
            list-style: none;

            .dialog {
                position: relative;
                padding: 0 0 0 20px;
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: $secondaryColor;
                    border-radius: 4px;
                    top: 8px; 
                    left: 0;
                }
            }

        }
    }

    .messages {
        grid-area: messages;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .message {
            padding: 10px;
            background: $primaryBg;
            border-radius: 5px 5px 5px 0;
            align-self: flex-start;

        }

        .message.my {
            background: $blueBg;
            color: $whiteColor;
            border-radius: 5px 5px 0 5px;
            align-self: flex-end;
        }
        
    }
}


@media (min-width: 900px) {
    .dialogs {
        grid-template-areas: "dialogsItems messages";
        grid-template-columns: 3fr 9fr;

        .dialogsItemsWrapper {
            ul {
                flex-direction: column;
            }
        }
    }
}